<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:component-scan base-package="org.jham" />
    
    <!--
    <beans profile="default">
	    <bean class="java.net.URI" id="dbUrl">
	        <constructor-arg value="#{systemEnvironment['DATABASE_URL']}"/>
	    </bean>
	
	    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	        <property name="url" value="#{ 'jdbc:postgresql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() }"/>
	        <property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }"/>
	        <property name="password" value="#{ @dbUrl.getUserInfo().split(':')[1] }"/>
	    </bean>
    </beans>
    <beans profile="local">
	    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	        <property name="url" value="postgres://postgres:Debbie1sh0t!@localhost:5432/jham"/>
	        <property name="username" value="postgres"/>
	        <property name="password" value="Debbie1sh0t!"/>
	    </bean>
        
    </beans>
    -->
</beans>
